<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <meta charset="UTF-8">
    <title>new for post</title>
</head>
<script type="text/javascript" src="static/js/index.js"></script>
<body>
<div class="cont">
  <div class="demo">
    <div class="login">
      <div class="login__check"></div>
      <div class="login__form">



        <form id = "post1">
          <div class="login__row">
            <input type="text" class="login__input name" style="width:200px; height:30px; font-size:25px; BACKGROUND-COLOR: transparent;" id = "sender" name = "sender"  placeholder="sender"/>
          </div>

          <div class="login__row">
            <input type="text" class="login__input name" style="width:200px; height:30px; font-size:25px; BACKGROUND-COLOR: transparent;" id = "recipient" name = "recipient" placeholder="recipient" />
          </div>

          <div class="login__row">
            <input type="text" class="login__input name" style="width:200px; height:30px; font-size:25px; BACKGROUND-COLOR: transparent;" id = "amount" name = "amount" placeholder="amount" />
          </div>

          <script language="javascript">
            function sendPost1(){
              var sender = post1.sender.value 
              var recipient = post1.recipient.value
              var amount = post1.amount.value
              var httpRequest = new XMLHttpRequest();//第一步：创建需要的对象
              httpRequest.open('POST', window.location.href='/new/transaction', true); //第二步：打开连接
              httpRequest.setRequestHeader("Content-type","application/json");//设置请求头 
              var obj = { "sender":sender,"recipient":recipient,"amount":amount };
              httpRequest.send(JSON.stringify(obj));//发送请求 将json写入send中
              httpRequest.onreadystatechange = function () {//请求后的回调接口，可将请求成功后要执行的程序写在其中
                if (httpRequest.readyState==4 && httpRequest.status==201){
                var json = httpRequest.responseText;//获取到服务端返回的数据
                alert("Sending a new transaction request:"+JSON.stringify(obj))
                alert(json)
                window.history.back(-1);
                }
              };
            }
          </script>
            <button type="button" class="login__submit" value="upvote" onclick="sendPost1()">Create transaction</button>
        </form> 

      </div>
    </div>
  </div>
  <div class="CopyRight" >
    <p>&copy; CopyRight By SUN jiajun @ BUPT for Blockchain Test </p>
  </div>
</div>

</body>

</html>